<div class="jumbotron text-center">
  <h2>{{ pageTitle }}</h2>
</div>
<div style="text-align:right">
  <button class="btn btn-success">
    <i class="fa fa-user-plus"></i> Add Agent
  </button>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Sex</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agent of agents">
        <td>
          <a [routerLink]="['/agents', agent.id, 'detail']">
            {{ agent.firstname }}
          </a>
        </td>
        <td>{{ agent.lastname }}</td>
        <td>{{ agent.age }}</td>
        <td>{{ agent.sex }}</td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(agent.id - 1)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
