<div class="jumbotron text-center">
  <h2>{{ pageTitle }}</h2>
</div>
<div style="text-align:right">
  <button class="btn btn-success" [routerLink]="['/agents/0/add']">
    <i class="fa fa-user-plus"></i> Add Agent
  </button>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agent of agents">
        <td>
          <button
            class="btn btn-link"
            [routerLink]="['/agents', agent.id, 'detail']"
          >
            <i class="fa fa-info-circle"></i>
          </button>
        </td>
        <td>
          {{ agent.firstname }}
        </td>
        <td>{{ agent.lastname }}</td>

        <td>
          <button class="btn btn-danger" (click)="onDelete(agent.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
