<div class="card">
    <div class="card-header">Add Student</div>

    <div class="card-body">
      <form novalidate (ngSubmit)="addStudent()" [formGroup]="studentForm">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="firstname">Firstname</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="firstname"
              type="text"
              formControlName="firstname"
              [ngClass]="{ 'is-invalid': displayMessage.firstname }"
            />
            <span class="invalid-feedback">
              {{ displayMessage.firstname }}
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="lastname">Lastname </label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="lastname"
              type="text"
              formControlName="lastname"
              [ngClass]="{ 'is-invalid': displayMessage.lastname }"
            />
            <span class="invalid-feedback">
              {{ displayMessage.lastname }}
            </span>
          </div>
        </div>
  
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="sex">Sex</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="sex"
              type="text"
              formControlName="sex"
              [ngClass]="{ 'is-invalid': displayMessage.sex }"
            />
            <span class="invalid-feedback">
              {{ displayMessage.sex }}
            </span>
          </div>
        </div>

        
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="phone">Phone</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="phone"
              type="text"
              formControlName="phone"
              [ngClass]="{ 'is-invalid': displayMessage.phone }"
            />
            <span class="invalid-feedback">
              {{ displayMessage.phone }}
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="dateOfBirth">Date of birth</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="dateOfBirth"
              type="date"
              formControlName="dateOfBirth"
             
            />
      
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="degreeTitle">Degree Title</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="degreeTitle"
              type="text"
              formControlName="degreeTitle"
              [ngClass]="{ 'is-invalid': displayMessage.degreeTitle }"
            />
            <span class="invalid-feedback">
              {{ displayMessage.degreeTitle }}
            </span>
          </div>
        </div>

        
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="email">Email</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="email"
              type="email"
              formControlName="email"
              [ngClass]="{ 'is-invalid': displayMessage.email }"
            />
            <span class="invalid-feedback">
              {{ displayMessage.email }}
            </span>
          </div>
        </div>

        
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="independent">Independent</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="independent"
              type="checkbox"
              formControlName="independent"
              
            />
      
          </div>
        </div>

        
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="degreeType">Degree Type</label>
          <div class="col-md-8">
            <select id = "degreeType" name = "degreeType" formControlName = "degreeType">
              <option value = "0">High School</option>
              <option value = "1">College</option>
              <option value = "2">Master</option>
              <option value = "3">PhD</option>
            </select>
         
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="idClient">Client:</label>
          <div class="col-md-8">
            <select id = "idClient" name = "idCliet" formControlName = "idClient">
              <option value = "1">Client 1</option>
              <option value = "2">Client 2</option>
              <option value = "3">Client 3</option>
            </select>
       
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button
              class="btn btn-primary mr-3"
              style="width:80px;"
              type="submit"
              [title]="
                studentForm.valid
                  ? 'Save your entered data'
                  : 'Disabled until the form data is valid'
              "
              [disabled]="!studentForm.valid"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  