<div class="jumbotron text-center">
  <h2>{{ pageTitle }}</h2>
</div>
<div class="container">
  <div class="row text-center" *ngIf="current" id="agentDetail">
    <div class="col-sm-2">
      <h6>Firstname:</h6>
      <div id="name">{{ current.firstname }}</div>
    </div>
    <div class="col-sm-2">
      <h6>Lastname:</h6>
      <div id="age">{{ current.lastname }}</div>
    </div>
    <div class="col-sm-2">
      <h6>Age:</h6>
      <div id="age">{{ current.age }}</div>
    </div>
    <div class="col-sm-2">
      <h6>Sex:</h6>
      <div id="age">{{ current.sex }}</div>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-warning" (click)="onEdit()">
        <i class="fa fa-edit"></i> Modifica
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <button
      class="btn btn-outline-secondary mr-3"
      style="width:80px"
      (click)="onBack()"
    >
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
</div>
